---
layout: default
---

<!-- Pagination links -->
<div class="pagination">

  {% for post in paginator.posts %}
          <!-- Post -->
          <article class="post">
            <header>
              <div class="title">
                <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                <p>{{ post.subtitle }}</p>
              </div>
              <div class="meta">
                <time class="published" datetime={{ post.date }}>{{ post.date | date: "%B %e, %Y" }}</time>
                <a href="#" class="author"><span class="name">Yakov</span><img src="https://raw.githubusercontent.com/yak32/blog/gh-pages/images/avatar.png" alt="" /></a>
              </div>
            </header>
            {% if post.image %}
            <a href= "{{ post.image }}" class="image featured"><img src="{{ post.image }}" alt="" /></a>
            {% endif %}
            {{ post.excerpt }}
            <footer>
              <ul class="actions">
                <li><a href="{{ site.baseurl }}{{ post.url }}" class="button big">Continue Reading</a></li>
              </ul>
              <ul class="stats">
                <!--<li><a href="{{ site.baseurl }}{{ post.url }}">General</a></li>-->
                <li><a href="{{ site.baseurl }}{{ post.url }}" class="icon fa-heart"></a></li>
                <li><a href="{{ site.baseurl }}{{ post.url }}" class="icon fa-comment"></a></li>
              </ul>
            </footer>
          </article>

  {% endfor %}
   <br />
  <!-- Pagination links -->

{% if paginator.total_pages > 1 %}
  <ul class="actions pagination">

  {% if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button big previous">Previous Page</a></li>
  {% else %}
      <li><a href="" class="disabled button big previous">Previous Page</a></li>
  {% endif %}
<!--
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ site.baseurl }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}-->

  {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button big next">Next Page</a></li>
  {% else %}
    <span>Next  Page&raquo;</span>
  {% endif %}
</ul>
{% endif %}

</div>

