               <div class="mini-posts">

                  <!-- Mini Post -->
                    <article class="mini-post">
                      <header>
                        <h3><a href="{{ site.baseurl }}/game/iron%20cube/2013/10/23/iron-cube-tank-multiplayer-combat-in-voxel-world-is-ported-to-android-and-available-on-google-play-store-for-free.html">Iron Cube!</a></h3>
                        <time class="published" datetime="2015-10-19">OCTOBER 23, 2013</time>
                        <a href="{{ site.baseurl }}/about" class="author"><img src="https://raw.githubusercontent.com/yak32/blog/gh-pages/images/avatar.png" alt="" /></a>
                      </header>
                      <a href="{{ site.baseurl }}/game/iron%20cube/2013/10/23/iron-cube-tank-multiplayer-combat-in-voxel-world-is-ported-to-android-and-available-on-google-play-store-for-free.html" class="image"><img src="{{ site.baseurl }}/images/uploads/2013/01/iron_cube_android.jpg" alt="" /></a>
                    </article>

                 <!-- Mini Post -->
                    <article class="mini-post">
                      <header>
                        <h3><a href="{{ site.baseurl }}/challenge/intel/winner/2013/03/28/first-prize-winner-of-intel-perceptual-computing-challenge.html">First Prize!</a></h3>
                        <time class="published" datetime="2015-10-18">March 28, 2013</time>
                        <a href="{{ site.baseurl }}/about" class="author"><img src="https://raw.githubusercontent.com/yak32/blog/gh-pages/images/avatar.png" alt="" /></a>
                      </header>
                      <a href="{{ site.baseurl }}/challenge/intel/winner/2013/03/28/first-prize-winner-of-intel-perceptual-computing-challenge.html" class="image"><img src="{{ site.baseurl }}/images/uploads/2013/03/perc-challenge-banner.jpg" alt="" /></a>
                    </article>

                  <!-- Mini Post -->
                    <article class="mini-post">
                      <header>
                        <h3><a href="{{ site.baseurl }}/prototype/leap%20motion/2013/01/22/leap-motion-2.html">Leap Motion</a></h3>
                        <time class="published" datetime="2015-10-17">January 22, 2013</time>
                        <a href="{{ site.baseurl }}/about" class="author"><img src="https://raw.githubusercontent.com/yak32/blog/gh-pages/images/avatar.png" alt="" /></a>
                      </header>
                      <a href="{{ site.baseurl }}/prototype/leap%20motion/2013/01/22/leap-motion-2.html" class="image"><img src="{{ site.baseurl }}/images/uploads/2013/01/IMG_5677.jpg" alt="" /></a>
                    </article>

                  <!-- Mini Post -->
                    <article class="mini-post">
                      <header>
                        <h3><a href="{{ site.baseurl }}/engine/games/2017/04/21/pied-piper.html">Pied Piper</a></h3>
                        <time class="published" datetime="2017-04-21">April 21, 2017</time>
                        <a href="{{ site.baseurl }}/about" class="author"><img src="https://raw.githubusercontent.com/yak32/blog/gh-pages/images/avatar.png" alt="" /></a>
                      </header>
                      <a href="{{ site.baseurl }}/engine/games/2017/04/21/pied-piper.html" class="image"><img src="{{ site.baseurl }}/images/ai.png" alt="" /></a>
                    </article>

                  <!-- Mini Post -->
                    <article class="mini-post">
                      <header>
                        <h3><a href="{{ site.baseurl }}/personal/2013/02/28/why-android-is-better.html">Why Android is better</a></h3>
                        <time class="published" datetime="2015-10-20">October 20, 2015</time>
                        <a href="{{ site.baseurl }}/about" class="author"><img src="https://raw.githubusercontent.com/yak32/blog/gh-pages/images/avatar.png" alt="" /></a>
                      </header>
                      <a href="{{ site.baseurl }}//personal/2013/02/28/why-android-is-better.html" class="image"><img src="{{ site.baseurl }}/images/uploads/2013/02/GalaxyNote2.jpg" alt="" /></a>
                    </article>

                </div>
