---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <p>{{ page.subtitle }}</p>

	{% if page.image %}
		<a href= "{{ page.image }}" class="image featured"><img src="{{ page.image }}" alt="" /></a>
	{% endif %}

	<div class="entry">
		{{ content }}
	</div>

	<div class="date">
		Written on {{ page.date | date: "%B %e, %Y" }}
	</div>
	{% if site.facebook_comments %}

		<div class="fb-like" data-href="{{ site.baseurl }}{{ page.url }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true" style="display: inline-block; text-align: right; width: 100%"></div>

		<div class="fb-comments" data-href="{{ site.baseurl }}{{ page.url }}" data-width="100%" data-numposts="20"></div>
	{% endif %}
</article>
